<section class="report-section py-5 py-xl-7">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">ASSUMPTIONS</small>
      Direct Sales
    </h2>
    <p class="lead mb-4">Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my cheerful duty to attend upon him while taking that hard-scrabble scramble upon the dead whale's back. You have seen <strong class="fw-800">Italian organ-boys</strong> holding a dancing-ape by a long cord. Just so, from the.</p>
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="report-card rounded bg-white border-start border-8 border-success p-3">
          <span class="card-label d-block mb-2">PROPERTIES IN MY FARM</span>
          <span class="card-value d-block">1100</span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="report-card rounded bg-white border-start border-8 border-info p-3">
          <span class="card-label d-block mb-2">AVG PRICE POINT/SALES</span>
          <span class="card-value d-block">$2.5M</span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="report-card rounded bg-white border-start border-8 border-warning p-3">
          <span class="card-label d-block mb-2">MY OPEN HOUSES THIS YEAR</span>
          <span class="card-value d-block">50</span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
        <div class="report-card rounded bg-white border-start border-8 border-pink p-3">
          <span class="card-label d-block mb-2">MY AVG COMMISSION RATE</span>
          <span class="card-value d-block">2.47%</span>
        </div>
      </div>
    </div>
  </div>
</section>