<section class="report-section py-5 py-xl-7">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">EXPENSES</small>
      Business Expenses
    </h2>
    <p class="lead mb-5">It was a humorously perilous business for both of us. For, before we proceed further, it must be said that the monkey-rope was fast at both ends; fast to Queequeg's broad canvas belt, and fast to my narrow leather one. <strong class="fw-800">So that for better</strong> or for worse, we two, for the time, were wedded; and should poor Queequeg si.</p>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">INSURANCE & DUES</caption>
      <tbody>
        <tr>
          <td>E&O insurance</td>
          <td>$600</td>
        </tr>
        <tr>
          <td>Realtor Dues</td>
          <td>$524</td>
        </tr>
        <tr>
          <td>MLS Dues</td>
          <td>$492</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">AUTO & TRANSPORTATION</caption>
      <tbody>
        <tr>
          <td>Auto Lease/Purchase</td>
          <td>$12,000</td>
        </tr>
        <tr>
          <td>Auto Insurance</td>
          <td>$3,000</td>
        </tr>
        <tr>
          <td>Fuel</td>
          <td>$6,000</td>
        </tr>
        <tr>
          <td>Toll Road - Fees</td>
          <td>$3,000</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">OFFICE & MAINTENANCE</caption>
      <tbody>
        <tr>
          <td>Office Rent</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>Phone & Internet</td>
          <td>$3,000</td>
        </tr>
        <tr>
          <td>Docusign</td>
          <td>$200</td>
        </tr>
        <tr>
          <td>Office Assistant/Employee</td>
          <td>$40,000</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">MARKETING & ADVERTISING</caption>
      <tbody>
        <tr>
          <td>Digital Suite Membership</td>
          <td>$1,200</td>
        </tr>
        <tr>
          <td>Print/Mail Campaigns</td>
          <td>$10,000</td>
        </tr>
        <tr>
          <td>Client Gifts</td>
          <td>$6,000</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top mb-4">
      <caption class="table-label">TITHING & SAVINGS</caption>
      <tbody>
        <tr>
          <td>Tithing</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Savings & Investment</td>
          <td>10%</td>
        </tr>
      </tbody>
    </table>
  
    <table class="expenses-table table caption-top">
      <caption class="table-label">ADDITIONAL</caption>
      <tbody>
        <tr>
          <td>Additional Marketing</td>
          <td>10%</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</section>