<section class="report-section py-5 py-xl-7 bg-white">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">LIFE GOALS</small>
      Financial Goals
    </h2>
    <p class="lead mb-4">So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two; that <strong class="fw-800">my free</strong> will had received a mortal wound; and that another's mistake or misfortune might plun.</p>
    <ul class="financial-goals-list list-unstyled mb-0">
      <li class="row align-items-center mb-3">
        <div class="col-lg-2 fw-600">
          Next 12 Months
        </div>
        <div class="col-lg-10">
          <div class="progress rounded-0" style="height: 57px">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">$150 - $250K</div>
          </div>
        </div>
      </li>
      <li class="row align-items-center mb-3">
        <div class="col-lg-2 fw-600">
          Next 24 Months
        </div>
        <div class="col-lg-10">
          <div class="progress rounded-0" style="height: 57px">
            <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">$250 - $400K</div>
          </div>
        </div>
      </li>
      <li class="row align-items-center mb-3">
        <div class="col-lg-2 fw-600">
          Next 60 Months
        </div>
        <div class="col-lg-10">
          <div class="progress rounded-0" style="height: 57px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">$400 - $600K</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>