{% extends "base.twig" %}

{% block content %}
  <div class="questionnaire-app h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-4 col-xxl-3 ps-0">
          {% include 'questionnaire/partials/sidebar.twig' %}
        </div>
        <div class="col-lg-8 col-xxl-9">
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}