{% extends "base.twig" %}

{% block content %}
  <div class="questionnaire-app d-md-flex h-100">
    {% include 'questionnaire/partials/sidebar.twig' %}
    <main>
      {% include 'questionnaire/life-goals/intro.twig' %}
      {% include 'questionnaire/life-goals/success-definition.twig' %}
      {% include 'questionnaire/life-goals/spiritual-health.twig' %}
    </main>
  </div>
{% endblock %}