{% extends "base.twig" %}

{% block content %}
  <div class="questionnaire-app d-lg-flex h-100">
    {% include 'questionnaire/partials/sidebar.twig' %}
    <main>
      {% include 'questionnaire/general-goals/life-goals/intro.twig' %}
      {% include 'questionnaire/general-goals/life-goals/success-definition.twig' %}
      {% include 'questionnaire/general-goals/life-goals/spiritual-health.twig' %}
      {% include 'questionnaire/general-goals/life-goals/relational-health.twig' %}
      {% include 'questionnaire/general-goals/life-goals/physical-health.twig' %}
      {% include 'questionnaire/general-goals/life-goals/emotional-health.twig' %}
      {% include 'questionnaire/general-goals/life-goals/mental-health.twig' %}
      {% include 'questionnaire/general-goals/life-goals/vocational-health.twig' %}
      {% include 'questionnaire/general-goals/life-goals/financial-health.twig' %}
  
      {% include 'questionnaire/general-goals/financial-goals/12-month-goals.twig' %}
    </main>
  </div>
{% endblock %}