{% extends "base.twig" %}

{% block content %}
  <div class="questionnaire-app d-md-flex h-100">
    {% include 'questionnaire/partials/sidebar.twig' %}
    <main>
      {% include 'questionnaire/general-goals/index.twig' %}
      {% include 'questionnaire/general-goals/life-goals.twig' %}
    </main>
  </div>
{% endblock %}