{% extends "base.twig" %}

{% block content %}
  <div class="questionnaire-app d-lg-flex h-100">
    {% include 'questionnaire/partials/sidebar.twig' %}
    <main>
      {% set forms = [
        'questionnaire/general-goals/intro.twig',
        'questionnaire/general-goals/life-goals/success-definition.twig',
        'questionnaire/general-goals/life-goals/spiritual-health.twig',
        'questionnaire/general-goals/life-goals/relational-health.twig',
        'questionnaire/general-goals/life-goals/physical-health.twig',
        'questionnaire/general-goals/life-goals/emotional-health.twig',
        'questionnaire/general-goals/life-goals/mental-health.twig',
        'questionnaire/general-goals/life-goals/vocational-health.twig',
        'questionnaire/general-goals/life-goals/financial-health.twig',
        'questionnaire/general-goals/financial-goals/12-month-goals.twig',
        'questionnaire/general-goals/financial-goals/24-month-goals.twig',
        'questionnaire/general-goals/financial-goals/60-month-goals.twig',
        'questionnaire/assumptions/intro.twig'
      ] %}
      {% for form in forms %}
        {% include form with { id: loop.index } %}
      {% endfor %}
    </main>
  </div>
{% endblock %}