{% extends "base.twig" %}

{% block content %}
  <div class="questionnaire-app d-lg-flex h-100">
    {% include 'questionnaire/partials/sidebar.twig' %}
    <main>
      {% set forms = [
        'questionnaire/general-goals/intro.twig',
        'questionnaire/general-goals/life-goals/success-definition.twig',
        'questionnaire/general-goals/life-goals/spiritual-health.twig',
        'questionnaire/general-goals/life-goals/relational-health.twig',
        'questionnaire/general-goals/life-goals/physical-health.twig',
        'questionnaire/general-goals/life-goals/emotional-health.twig',
        'questionnaire/general-goals/life-goals/mental-health.twig',
        'questionnaire/general-goals/life-goals/vocational-health.twig',
        'questionnaire/general-goals/life-goals/financial-health.twig',
        'questionnaire/general-goals/financial-goals/12-month-goals.twig',
        'questionnaire/general-goals/financial-goals/24-month-goals.twig',
        'questionnaire/general-goals/financial-goals/60-month-goals.twig',
        'questionnaire/assumptions/intro.twig',
        'questionnaire/assumptions/direct-sales/properties.twig',
        'questionnaire/assumptions/direct-sales/avg-price-per-sale.twig',
        'questionnaire/assumptions/direct-sales/open-houses.twig',
        'questionnaire/assumptions/direct-sales/gross-commission-rate.twig',
        'questionnaire/assumptions/potential-income/hotel-concierge.twig',
        'questionnaire/assumptions/potential-income/divorce-attorneys.twig',
        'questionnaire/assumptions/potential-income/wealth-managers.twig',
        'questionnaire/assumptions/potential-income/vendors.twig',
        'questionnaire/assumptions/potential-income/core-support.twig',
        'questionnaire/assumptions/potential-income/social-media.twig',
        'questionnaire/assumptions/potential-income/daily-cards.twig',
        'questionnaire/assumptions/potential-income/guard-gate.twig',
        'questionnaire/assumptions/potential-income/open-houses.twig',
        'questionnaire/assumptions/potential-income/crm.twig',
        'questionnaire/assumptions/potential-income/hoa.twig',
        'questionnaire/assumptions/potential-income/digital-suite.twig',
        'questionnaire/assumptions/potential-income/marketing-mail.twig',
        'questionnaire/assumptions/potential-income/outside-agents.twig',
        'questionnaire/revenue-share/intro.twig',
        'questionnaire/revenue-share/recruiting-overrides/agents-recruit.twig',
        'questionnaire/revenue-share/recruiting-overrides/transactions.twig',
        'questionnaire/revenue-share/recruiting-overrides/highest-sold-price.twig',
        'questionnaire/revenue-share/recruiting-overrides/lowest-sold-price.twig',
        'questionnaire/revenue-share/recruiting-overrides/another-level.twig',
        'questionnaire/revenue-share/opportunities/introductions.twig',
        'questionnaire/revenue-share/opportunities/success-rate.twig',
        'questionnaire/revenue-share/opportunities/transactions.twig',
        'questionnaire/revenue-share/opportunities/transactions-average.twig',
        'questionnaire/expenses/intro.twig',
        'questionnaire/expenses/business-expenses/insurance-dues.twig',
        'questionnaire/expenses/business-expenses/auto-expenses.twig',
        'questionnaire/expenses/business-expenses/office-maintenance.twig',
        'questionnaire/expenses/business-expenses/marketing.twig',
        'questionnaire/expenses/tithing-charity/donations.twig',
        'questionnaire/expenses/savings-investment/savings-investment.twig',
        'questionnaire/expenses/additional-marketing/additional-marketing.twig',
      ] %}
      {% for form in forms %}
        {% include form with { id: loop.index } %}
      {% endfor %}
    </main>
    {% include 'questionnaire/partials/success-modal.twig' %}
  </div>
{% endblock %}