<nav class="questionnaire-nav">
  <div class="list-group list-group-flush">
    <div class="list-group-item list-group-parent-item">
      General Goals
    </div>
      <a href="#" class="list-group-item list-group-item-action active" data-id="1" data-form-id="1">
        <strong class="fw-900">01</strong> Life Goals
      </a>
      <a href="#" class="list-group-item list-group-item-action" data-id="2" data-form-id="10">
        <strong class="fw-900">02</strong> Financial Goals
      </a>
    <div class="list-group-item list-group-parent-item">
      Assumptions
    </div>
      <a href="#" class="list-group-item list-group-item-action" data-id="3">
        <strong class="fw-900">03</strong> Direct Sales Income
      </a>
      <a href="#" class="list-group-item list-group-item-action" data-id="4">
        <strong class="fw-900">04</strong> Potential Income
      </a>
    <div class="list-group-item list-group-parent-item">
      Revenue Share
    </div>
      <a href="#" class="list-group-item list-group-item-action">
        <strong class="fw-900">05</strong> Recruiting & Overrides
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <strong class="fw-900">06</strong> Agent Inc Opportunities
      </a>
    <div class="list-group-item list-group-parent-item">
      Expenses
    </div>
      <a href="#" class="list-group-item list-group-item-action">
        <strong class="fw-900">07</strong> Business Expenses
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <strong class="fw-900">08</strong> Tithing & Charity
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <strong class="fw-900">09</strong> Savings & Investment
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <strong class="fw-900">10</strong> Additional Marketing
      </a>
  </div>
</nav>