<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header justify-content-center border-bottom">
        <h4 class="modal-title fw-700" id="successModalLabel">Congratulations!</h4>
      </div>
      <div class="modal-body text-center">
        <p class="mb-0">You have successfully completed the questionnaire. Check out your personal report by clicking the button below.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <a href="/my-report/" class="viewReportBtn btn btn-primary text-uppercase mw-170">View Report</a>
      </div>
    </div>
  </div>
</div>