<section class="report-section py-5 py-xl-7 bg-white">
  <div class="container">
    <h2 class="section-title mb-3">
      <small class="d-block mb-3">YOUR RESULTS</small>
      The Bottom Line
    </h2>
    <p class="lead mb-5">I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was not the <strong class="fw-800">only jamming jeopardy</strong> he was exposed to. Unappalled by the massacre made upon them during the night, the sharks now freshly.</p>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="report-card rounded border-bottom border-8 border-secondary py-3 px-2 text-center">
          <span class="card-label d-block mb-2">12 MONTH INCOME ESTIMATE</span>
          <span class="card-value d-block">
            {{ '$' ~ fn('d_nice_number', income_estimate.months_12|replace({'$' : ''})) }}
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="report-card rounded border-bottom border-8 border-pink py-3 px-2 text-center">
          <span class="card-label d-block mb-2">24 MONTH INCOME ESTIMATE</span>
          <span class="card-value d-block">
            {{ '$' ~ fn('d_nice_number', income_estimate.months_24|replace({'$' : ''})) }}
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="report-card rounded border-bottom border-8 border-warning py-3 px-2 text-center">
          <span class="card-label d-block mb-2">60 MONTH INCOME ESTIMATE</span>
          <span class="card-value d-block">
            {{ '$' ~ fn('d_nice_number', income_estimate.months_60|replace({'$' : ''})) }}
          </span>
        </div>
      </div>
    </div>
    <small class="report-disclaimer d-block">DISCLAIMER:  The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together. This improvement upon the original usage was introduced by no less a man than Stubb, in order to afford the imperilled harpooneer the strongest possible guarantee for the faithfulness and.</small>
    <h2 class="mb-0 text-center fw-800 mt-5">Congratulations, {{ user.first_name ? user.first_name : user.display_name|title }}! You are on track to meet your goals.</h2>
  </div>
</section>