<form class="questionnaire-form h-100 py-5 d-none">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-xxl-evenly">
      <div class="col-xl-6 col-xxl-5 mb-4 mb-md-0">
        <small class="form-title d-block mb-3">GENERAL GOALS</small>
        <p class="lead text-dark">In this part, we’ll explore your overall <strong class="fw-800">life and financial goals</strong>. Everything from spiritual, mental & relational health along with immediate and future earnings goals.</p>
        <div class="mt-4 mt-xxl-5">
          <button type="submit" class="btn btn-primary btn-lg mw-170 me-2">START</button>
          <small class="press-enter-btn text-dark fw-500">Press <strong class="fw-800">Enter ↵</strong></small>
        </div>
      </div>
      <div class="col-xl-6 col-xxl-5 text-center">
        <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="571px" height="476px" viewBox="0 0 571 476" version="1.1">
          <title>GENERAL GOALS</title>
          <g id="Life-Goals" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-Life-Goals-Intro" transform="translate(-1174.000000, -241.000000)" fill-rule="nonzero">
              <g id="undraw_Goals_re_lu76" transform="translate(1174.801349, 241.000000)">
                <polygon id="Rectangle" fill="#F2F2F2" transform="translate(200.627220, 125.298026) rotate(-30.649320) translate(-200.627220, -125.298026) " points="-25.7692287 113.807712 427.023669 113.807712 427.023669 136.788339 -25.7692287 136.788339"/>
                <polygon id="Rectangle" fill="#F2F2F2" transform="translate(285.292635, 144.650099) rotate(-30.649320) translate(-285.292635, -144.650099) " points="58.8961795 133.159786 511.689091 133.159786 511.689091 156.140413 58.8961795 156.140413"/>
                <polygon id="Rectangle" fill="#F2F2F2" transform="translate(360.281991, 165.816424) rotate(-30.649320) translate(-360.281991, -165.816424) " points="133.885535 154.326111 586.678447 154.326111 586.678447 177.306738 133.885535 177.306738"/>
                <circle id="Oval" fill="#FFFFFF" cx="254.198651" cy="148" r="122"/>
                <path d="M131.198651,148.5 C131.198651,80.953347 186.151852,26 253.698651,26 C321.245451,26 376.198651,80.953347 376.198651,148.5 C376.198651,216.046667 321.245451,271 253.698651,271 C186.151852,271 131.198651,216.04666 131.198651,148.5 Z M133.007494,148.500007 C133.007494,215.049206 187.149327,269.191164 253.698673,269.191164 C320.248018,269.191164 374.38983,215.04917 374.38983,148.500007 C374.38983,81.9508443 320.247996,27.8088428 253.698651,27.8088428 C187.149306,27.8088428 133.007494,81.9508013 133.007494,148.500007 L133.007494,148.500007 Z" id="Shape" fill="#3F3D56"/>
                <path d="M231.198651,149.000358 L231.198651,149.000358 C231.198651,140.102313 236.558679,132.08042 244.779397,128.675277 C253.000115,125.270135 262.462576,127.152329 268.754446,133.444195 C275.046316,139.73606 276.928516,149.198521 273.523379,157.419241 C270.118242,165.639961 262.096352,171 253.198308,171 C241.048235,171 231.198651,161.150409 231.198651,149.000336 L231.198651,149.000358 Z M253.198308,128.073832 C241.646281,128.08681 232.284752,137.448346 232.271781,149.000372 L232.271781,149.000372 C232.271781,160.557772 241.640918,169.926884 253.198317,169.926884 C264.755717,169.926884 274.124834,160.557752 274.124834,149.000353 C274.124834,137.442954 264.755707,128.073832 253.198308,128.073832 L253.198308,128.073832 Z" id="Shape" fill="#3F3D56"/>
                <path d="M212.198651,148.999979 L212.198651,148.999979 C212.198651,126.356305 230.554996,108 253.19867,108 C275.842344,108 294.198651,126.356343 294.198651,149.000017 C294.198651,171.64369 275.842311,190 253.198637,190 C242.324755,190 231.896239,185.680363 224.207249,177.991362 C216.518258,170.302361 212.198651,159.873839 212.198651,148.999957 L212.198651,148.999979 Z M253.198637,109.051251 C231.135566,109.051251 213.24991,126.936903 213.24991,148.999974 C213.24991,171.063045 231.135556,188.948706 253.198627,188.948706 C275.261698,188.948706 293.147364,171.063064 293.147364,148.999993 C293.122509,126.947221 275.251409,109.076114 253.198637,109.051251 L253.198637,109.051251 Z" id="Shape" fill="#CCCCCC"/>
                <path d="M173.198651,149.499986 C173.198651,105.041065 209.23974,69 253.698651,69 C298.157581,69 334.198651,105.041084 334.198651,149.5 C334.198651,193.958925 298.157572,230 253.698651,230 C209.26053,229.949809 173.248834,193.938107 173.198651,149.499986 Z M253.698651,70.0592296 C209.824721,70.0592296 174.257888,105.626096 174.257888,149.500026 C174.257888,193.373957 209.824745,228.940799 253.698675,228.940799 C297.572605,228.940799 333.139457,193.373952 333.139457,149.500022 C333.089824,105.646653 297.552019,70.1088549 253.698651,70.0592296 L253.698651,70.0592296 Z" id="Shape" fill="#CCCCCC"/>
                <circle id="Oval" fill="#72BB4B" cx="253.198651" cy="149" r="10"/>
                <circle id="Oval" fill="#72BB4B" cx="227.198651" cy="178" r="10"/>
                <circle id="Oval" fill="#72BB4B" cx="329.198651" cy="174" r="10"/>
                <circle id="Oval" fill="#2F2E41" cx="254.198651" cy="148" r="5"/>
                <circle id="Oval" fill="#2F2E41" cx="329.198651" cy="174" r="5"/>
                <circle id="Oval" fill="#2F2E41" cx="228.198651" cy="178" r="5"/>
                <circle id="Oval" fill="#72BB4B" cx="31.1986511" cy="95" r="5"/>
                <polygon id="Path" fill="#2F2E41" points="253.139978 95.0485851 44.1986511 95.0485851 44.1986511 94 254.198651 94 254.198651 148 253.139978 148"/>
                <path d="M17.1986511,95.5000141 C17.1986511,88.0441699 23.2427929,82 30.698637,82 C38.1544811,82 44.1986511,88.0441418 44.1986511,95.4999859 C44.1986511,102.95583 38.1545093,109 30.6986651,109 C27.1182408,109 23.6844582,107.577697 21.1527133,105.045958 C18.6209683,102.514218 17.1986511,99.0804384 17.1986511,95.5000141 Z M30.6986651,83.0384935 C25.6584451,83.0384935 21.114513,86.074634 19.1856991,90.7311879 C17.2568851,95.3877419 18.3230366,100.747671 21.8870084,104.311647 C25.4509801,107.875623 30.8109081,108.94178 35.4674642,107.012971 C40.1240203,105.084163 43.1601717,100.540234 43.1601717,95.5000141 C43.1522969,88.6209762 37.577703,83.0463759 30.6986651,83.0384935 L30.6986651,83.0384935 Z" id="Shape" fill="#2F2E41"/>
                <circle id="Oval" fill="#72BB4B" cx="63.1986511" cy="233" r="5"/>
                <path d="M49.1986511,232.500197 L49.1986511,232.500197 C49.1986511,227.040037 52.4877724,222.117519 57.5323029,220.028006 C62.5768335,217.938493 68.3833393,219.093479 72.2442558,222.954395 C76.1051723,226.815312 77.2601581,232.621818 75.1706452,237.666348 C73.0811322,242.710879 68.1586143,246 62.6984538,246 C55.2427218,246 49.1986511,239.955929 49.1986511,232.500197 L49.1986511,232.500197 Z M62.6984538,220.038832 C57.6583043,220.038832 53.1144371,223.074935 51.1856508,227.731424 C49.2568645,232.387913 50.3230007,237.747767 53.8869215,241.311694 C57.4508423,244.87562 62.8106945,245.941766 67.4671868,244.012987 C72.1236791,242.084209 75.1597977,237.540347 75.1597977,232.500197 C75.1519192,225.62125 69.5774013,220.046722 62.6984538,220.038832 L62.6984538,220.038832 Z" id="Shape" fill="#2F2E41"/>
                <circle id="Oval" fill="#72BB4B" cx="477.198651" cy="117" r="5"/>
                <path d="M463.198651,117.5 C463.198651,110.044151 469.242811,104 476.698651,104 C484.154496,104 490.198651,110.044155 490.198651,117.5 C490.198651,124.95584 484.1545,131 476.698651,131 C473.118232,131 469.684449,129.577689 467.152705,127.045946 C464.620962,124.514202 463.198651,121.080419 463.198651,117.5 L463.198651,117.5 Z M476.698658,105.038445 C469.819618,105.04636 464.24501,110.620953 464.237131,117.499993 L464.237131,117.499993 C464.237131,122.540217 467.273294,127.084145 471.929855,129.012952 C476.586416,130.941759 481.946347,129.875598 485.51032,126.311619 C489.074293,122.747639 490.140445,117.387707 488.21163,112.731149 C486.282816,108.074592 481.738882,105.038445 476.698658,105.038445 L476.698658,105.038445 Z" id="Shape" fill="#2F2E41"/>
                <polygon id="Path" fill="#2F2E41" points="328.198651 118.138835 463.182152 116 463.198651 117.064726 329.257435 119.18768 329.257435 173 328.198651 173"/>
                <polygon id="Path" fill="#2F2E41" points="76.1986511 231.952125 227.139388 231.952125 227.139388 179 228.198651 179 228.198651 233 76.1986511 233"/>
                <rect id="Rectangle" fill="#CCCCCC" x="2.19865106" y="120" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="2.19865106" y="131" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="2.19865106" y="141" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="34.1986511" y="257" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="34.1986511" y="268" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="34.1986511" y="278" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="448.198651" y="142" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="448.198651" y="153" width="58" height="4"/>
                <rect id="Rectangle" fill="#CCCCCC" x="448.198651" y="164" width="58" height="4"/>
                <polygon id="Path" fill="#FFB8B8" points="533.198651 459.03196 525.141113 462 510.198651 431.380125 522.091617 427"/>
                <path d="M512.949694,476 L512.830905,475.666922 C510.821901,470.00472 513.759023,463.779046 519.396676,461.749777 L535.428485,456 L539.198651,466.586346 L512.949694,476 Z" id="Path" fill="#2F2E41"/>
                <polygon id="Path" fill="#FFB8B8" points="480.197214 467 471.388769 466.999281 467.198651 433 480.198651 433.000719"/>
                <path d="M482.198113,476 L454.198651,475.998897 L454.198651,475.621246 C454.198651,472.53905 455.346934,469.583111 457.390771,467.403704 C459.434608,465.224297 462.206621,464 465.096996,464 L465.097705,464 L482.198651,464.000755 L482.198113,476 Z" id="Path" fill="#2F2E41"/>
                <path d="M500.198651,249.667619 L496.446672,242 C496.446672,242 482.469315,245.621778 481.198651,254 L500.198651,249.667619 Z" id="Path" fill="#72BB4B"/>
                <polygon id="Path" fill="#2F2E41" points="515.962431 337.435294 505.548881 395.502271 533.198651 444.364706 516.680607 450.823529 488.671749 403.458824 485.08087 390.541176 482.926343 458 468.029221 457.547882 461.198651 394.557847 472.153705 336"/>
                <path d="M465.453155,346.738883 C465.128872,345.296543 464.198651,301.269109 464.198651,301.269109 C464.198651,301.269109 479.568112,250.879373 479.708701,250.465358 L479.763598,250.303692 L491.432385,245.934501 C491.596022,245.859998 495.483742,244.130177 498.665173,245.571812 C500.31677,246.374377 501.529978,247.863416 501.981037,249.641561 C503.304571,250.626319 512.84237,261.296244 512.84237,275.768821 L513.202372,309.921013 L521.198651,346.94593 L520.845157,347.021139 C520.626782,347.067527 510.879617,350 495.527748,350 C486.997798,350 465.453155,346.738883 465.453155,346.738883 Z" id="Path" fill="#3F3D56"/>
                <circle id="Oval" fill="#FFB8B8" cx="483.698651" cy="224.5" r="15.5"/>
                <polygon id="Path" fill="#000000" opacity="0.2" points="507.198651 294 479.316547 333 475.198651 314.787199"/>
                <path d="M458.325857,332.992689 C460.329433,332.913513 462.194867,331.95511 463.420202,330.37537 C464.645538,328.79563 465.104904,326.756828 464.674696,324.807571 L485.198651,312.277076 L473.86555,307 L456.113142,319.708206 C452.798186,320.665597 450.726585,323.939423 451.291106,327.328642 C451.855628,330.717861 454.877837,333.151197 458.325857,332.992682 L458.325857,332.992689 Z" id="Path" fill="#FFB8B8"/>
                <polygon id="Path" fill="#72BB4B" points="471.601022 307 464.198651 312.080558 470.476572 323 479.198651 315.930233"/>
                <path d="M468.198651,308.122342 L484.903414,288.874263 L478.50326,262.325632 C477.134719,256.649985 480.215123,250.846122 485.700462,248.76521 C491.185802,246.684297 497.372704,248.972524 500.155838,254.111532 L500.301236,254.380426 L506.198651,293.804988 L476.564736,324 L468.198651,308.122342 Z" id="Path" fill="#3F3D56"/>
                <path d="M497.447765,238.534731 L484.200027,239 C483.392512,239.028286 481.200881,230.50247 480.913993,228.733798 C480.44496,226.351801 478.241807,224.680328 475.766871,224.828815 C474.775193,224.920457 472.274537,223.107952 469.694109,220.96175 C464.795138,216.887168 465.049999,209.234484 470.431516,205.791474 C470.578594,205.69737 470.722949,205.611445 470.86458,205.5337 C474.259526,203.674735 478.230999,203.05047 482.121247,203.002862 C485.647868,202.959713 489.274459,203.393956 492.381342,205.026959 C497.95131,207.95458 500.915635,214.352248 501.176018,220.532787 C501.4364,226.713326 499.411091,232.756776 497.112825,238.519483" id="Path" fill="#2F2E41"/>
                <path d="M569.481162,476 L410.91614,476 C410.519882,476 410.198651,475.776142 410.198651,475.5 C410.198651,475.223858 410.519882,475 410.91614,475 L569.481162,475 C569.87742,475 570.198651,475.223858 570.198651,475.5 C570.198651,475.776142 569.87742,476 569.481162,476 Z" id="Path" fill="#3F3D56"/>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</form>