<form class="questionnaire-form h-100 py-5 d-none">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-xl-11 col-xxl-8 mt-auto">
        <small class="form-title d-block mb-3">GENERAL GOALS</small>
        <p class="lead text-dark fs-26 mb-3">In a sentence, describe your overall definition of <strong class="fw-800">“success”</strong>.</p>
        <input class="form-control form-control-lg"
               type="text"
               placeholder="Type your answer here …">
        <div class="mt-4 mt-xxl-5">
          <button type="submit" class="btn btn-primary btn-lg mw-90 me-2">OK</button>
          <small class="press-enter-btn text-dark fw-500">Press <strong class="fw-800">Enter ↵</strong></small>
        </div>
      </div>
      <div class="col-xl-11 col-xxl-8 mt-5 mt-lg-auto">
        {% include 'questionnaire/partials/pagination-progress.twig' %}
      </div>
    </div>
  </div>
</form>