  {% include 'partials/html-header.twig' %}
  </head>
  <body class="{{ body_class }}" data-template="base.twig">
    {% block navbar %}
      {% include 'partials/navbar.twig' %}
    {% endblock %}
    <div id="container" class="page-wrap">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </div>
    {{ function('wp_footer') }}
  </body>
</html>
