{% extends "base.twig" %}

{% block content %}
  {% include "partials/page-header.twig" %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="main-card card">
          {{ post.content|shortcodes }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}