nav {
  &.navbar {
    padding: rem-calc(23.25) 0;
    color: $white;

    .container-fluid {
      max-width: 1780px;
    }

    .btn-outline-primary {
      min-width: 133px;
    }

    .navbar-brand {
      display: inline-block;

      img {
        max-height: 71px;
        width: auto;
        @include media-breakpoint-down(sm) {
          max-height: 45px;
        }
      }
    }

  }
}

