<footer class="footer-section text-center text-lg-left">
    <div class="container">


       <div class="copyright-section text-center">
           {% if theme_options.footer_copyright %}
               <p class="copyright text-uppercase">
                   {{ theme_options.footer_copyright | shortcodes }}
               </p>
           {% endif %}

           {% if theme_options.disclaimer %}
               <div class="disclaimer d-block mt-3">
                   {% filter shortcodes %}
                       {{ theme_options.disclaimer | shortcodes }}
                   {% endfilter %}
               </div>
           {% endif %}
       </div>



    </div>
</footer>