<nav class="navbar grid-18-col bg-dark">
  <div class="container px-2 px-xl-3">
    {% if theme_options.site_logo %}
      <a class="navbar-brand mr-auto" href="{{ site.link }}">
        <img src="{{ theme_options.site_logo }}" alt="{{ site.name }}">
      </a>
    {% endif %}
    <a href="#" class="btn btn-outline-primary btn-lg">LOGIN</a>
  </div>
</nav>