{% extends "base.twig" %}

{% block navbar %}{% endblock %}

{% block content %}
  <div class="auth-app d-lg-flex h-100">
    {% include 'auth/partials/sidebar.twig' %}
    <main>
      <form class="auth-form h-100 py-5" action="" method="post">
        <div class="container-fluid h-100">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-xl-11 col-xxl-8">
              <h4 class="form-title fw-700 mb-2">Forgot your password?</h4>
              {% if msg %}
                <div class="alert {{ msg.success ? 'alert-success' : 'alert-danger'  }}" role="alert">
                  {{ msg.success ? msg.success : msg.error }}
                </div>
              {% endif %}
              <p class="mb-3 fs-18">Enter your email address and we will send you a temporary password and a link to reset to a new password.</p>
              <div class="mb-3">
                <input id="user_email" name="user_email" type="email" class="form-control form-control-lg rounded" placeholder="Enter your email" required>
              </div>
              <input type="submit" value="RESET PASSWORD" name="reset_password" class="btn btn-primary btn-lg mw-310 mb-3">
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
{% endblock %}