{% extends "base.twig" %}

{% block navbar %}{% endblock %}

{% block content %}
  <div class="auth-app d-lg-flex h-100">
    {% include 'auth/partials/sidebar.twig' %}
    <main>
      <form class="auth-form h-100 py-5" name="registerform" id="registerform" action="{{ site.link ~ '/wp/wp-login.php?action=register' }}" method="post">
        <div class="container-fluid h-100">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-xl-11 col-xxl-8">
              <h4 class="form-title fw-700 mb-2">Forgot your password?</h4>
              <p class="mb-3 fs-18">Enter your email address and we will send you a temporary password and a link to reset to a new password.</p>
              <div class="mb-3">
                <input id="user_email" name="email" type="email" class="form-control form-control-lg rounded" placeholder="Enter your email" required>
              </div>
              <input id="wp-submit" type="submit" value="RESET PASSWORD" name="wp-submit" class="btn btn-primary btn-lg mw-310 mb-3">
              <input type="hidden" value="{{ site.link }}" name="redirect_to">
              <input type="hidden" value="1" name="testcookie">
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
{% endblock %}