<nav class="auth-nav d-flex justify-content-center align-items-center">
  {% if theme_options.site_logo %}
    <a class="navbar-brand me-0 text-end" href="{{ site.link }}">
      <img class="img-fluid mb-3" src="{{ theme_options.site_logo }}" alt="{{ site.name }}">
      <p class="navbar-slogan mb-0">Matching Financial Goals To Your Business Activity</p>
    </a>
  {% endif %}
</nav>