.mw-170{
  min-width:170px;
}
.mw-lg-170{
  @include media-breakpoint-up(lg) {
    min-width: 170px;
  }
}
.mw-270{
  min-width:270px;
}
.mw-206{
  min-width:270px;
}
.mw-400{
  min-width: 400px;
  @include media-breakpoint-down(md) {
    min-width: 100%;
  }
}
.fw-500{
  font-weight: 500;
}
.fw-700{
  font-weight: 700;
}
.fw-900{
  font-weight: 900;
}

.fz-12{
  font-size: .75rem;
}
.fz-14{
  font-size: .875rem;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}