body.page-template-questionnaire {
  display: flex;
  flex-direction: column;
  height: 100%;
  .page-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

//  QUESTIONNAIRE APP
.questionnaire-app {
  & > main {
    padding-right: 10px;
    padding-left: 10px;
    @include media-breakpoint-up(sm) {
      padding-right: 25px;
      padding-left: 25px;
    }
    @include media-breakpoint-up(md) {
      padding-right: 30px;
      padding-left: 45px;
    }
  }
}

//  QUESTIONNAIRE NAV
.questionnaire-nav {
  background: $white;
  border-right: 1px solid $border-color;
  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid $border-color;
  }
  @include media-breakpoint-up(md) {
    min-width: 345px;
    height: 100%;
  }
  .list-group {
    .list-group-item {
      color: $black;
      font-weight: bold;
      padding: rem-calc(14) rem-calc(15) rem-calc(14) rem-calc(40);
      background: $white;
      transition: $transition-base;

      @include media-breakpoint-up(sm) {
        padding-left: rem-calc(60)
      }

      &:hover {
        background: darken($white, 2.5%);
      }

      &.list-group-parent-item {
        color: $black;
        font-weight: 800;
        background: #E8EAED;
        padding-left: rem-calc(20);
        @include media-breakpoint-up(sm) {
          padding-left: rem-calc(30)
        }
        &:hover {
          background: darken(#E8EAED, 2.5%);
        }
      }

      &.active {
        color: $white;
        background: $primary;
        position: relative;
        @include media-breakpoint-up(md) {
          &:after {
            content: '';
            position: absolute;
            right: -30px;
            top: -1px;
            bottom: -1px;
            width: 30px;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            background: $primary;
          }
        }

        &:hover {
          background: $primary;
          cursor: default;
        }
        strong {
          color: $white;
        }
      }

      strong {
        color: $primary;
        margin-right: 5px;
      }
    }
  }
}

//  QUESTIONNAIRE FORM
.questionnaire-form {
  .form-title {
    font-size: rem-calc(12);
    font-weight: 600;
    letter-spacing: 3px;
  }
  .lead {
    font-size: rem-calc(18);
    line-height: rem-calc(31);
    @include media-breakpoint-up(sm) {
      font-size: rem-calc(21);
    }
  }
  .press-enter-btn {
    font-size: rem-calc(14);
  }
}