//  REPORT HEADER
.report-header {
  h4 {
    font-size: rem-calc(21);
  }
  p {
    line-height: rem-calc(27);
  }
  .success-statement {
    background: rgba(123,186,66,0.06);
    border-color: #7BBA42;
    padding: rem-calc(30);
    .alert-heading {
      font-size: rem-calc(12);
      letter-spacing: 3px;
      font-weight: 600;
      text-transform: uppercase;
      color: #7BBA42;
    }
    blockquote {
      font-size: rem-calc(21);
      line-height: rem-calc(26);
      color: $black;
      font-style: italic;
      font-weight: 900;
    }
  }
}

//  REPORT SECTION
.report-section {
  h2 {
    small {
      font-size: rem-calc(12);
      color: #6C6D6F;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 600;
    }
    & + .lead {
      line-height: rem-calc(27);
    }
  }
}

//  FINANCIAL GOALS LIST
.financial-goals-list {
  .progress {
    background: #F6F7F8;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 57px 20px 0 0;
      border-color: transparent #ffffff transparent transparent;
    }
    .progress-bar {
      font-size: rem-calc(18);
      font-weight: 800;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 57px 20px 0 0;
        border-color: transparent #F6F7F8 transparent transparent;
      }
    }
  }
}

//  REPORT CARD
.report-card {
  .card-label {
    font-size: rem-calc(10);
    font-weight: 600;
    letter-spacing: 2.5px;
  }
  .card-value {
    font-size: rem-calc(42);
    line-height: rem-calc(53);
    color: $black;
    font-weight: 800;
  }
}